header {
  width: 100%;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  background-color: inherit;
}

nav ol {
  text-align: right;
  padding: 0.5em;
  height: 1em;
}
nav li {
  display: inline;
  padding-right: 0.5em;
}
nav li a:hover {
  font-style: italic;
}
