header {
  width: 100%;
  padding: 0;
  margin: 0;
  position: fixed;
  top: 0;
  background-color: inherit;
}

nav {
  padding: 12px;
  height: 24px;
}
nav ol {
  text-align: right;
  font-size: 0; /* hack to remove visible whitespace between list elements */
}
nav li {
  display: inline;
  padding-right: 12px;
  font-size: 24px;
  color: cornflowerblue;
}
nav li a {
  /* hack to remove Mozilla's (dirty bathtub) focus ring, which gets left behind on return to page */
  outline: 0; 
}
nav li a:hover {
  font-style: italic;
}
