header {
  width: 100%;
  padding: 0px;
  margin: 0px;
  position: fixed;
  top: 0;
}
nav {
  text-align: right;
  margin: 0;
  padding: 0;
}
nav ol {
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 0;
  height: 30px;
}
nav li {
  display: inline;
  padding-right: 10px;
}
nav li a:hover {
  font-style: italic;
}
