:root {  /* site-wide variables or custom properties */
  /* default color theme is "dark mode" */
  --background-color: black;
  --foreground-color: white;  /* whitesmoke, maybe? */
  /* these should be usable regardless of background */
  --accent-color: cornflowerblue;  /* links, h1 */
  --switch-color: #aaaaee;  /* e.g., visited link */
}

body {
  background-color: var(--background-color);
  color: var(--foreground-color);
}
a:link {
  color: var(--accent-color);
}
a:visited {
  color: var(--switch-color);
}

/* styling for Creative Commons licensing and credit for Mr. Brown's photo (on Flickr) */
.flickr-cc-license {
  margin-top: 0.5em;
  text-align: center;
  text-decoration: underline;
}
.flickr-cc-license img {
  width: 5rem;
  height: 1.25rem;
  margin-right: 0.25rem;
  vertical-align: bottom;
}
.flickr-cc-license a {
  color: inherit;
}
